@charset "UTF-8";
html,
body {
  font-family: "NanumSquare";
  font-weight: 700;
  color: var(--black);
  word-break: keep-all;
}
section {
  position: relative;
}
.width-wrap {
  position: relative;
  max-width: 1220px;
  width: 100%;
  padding: var(--padding120);
  margin: 0 auto;
}

/* responsive class */
.top815,
.top500 {
  display: block;
}
.under815,
.under720,
.under600,
.under500 {
  display: none;
}

/* btn */
.btn {
  background: var(--po-light);
  border-radius: 1000px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn.small {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
  width: fit-content;
}
.btn.large {
  padding: 16px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
  width: 100%;
  box-sizing: border-box;
}
.btn.point {
  padding: 10px 20px;
  font-size: 32px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: -1.6px;
  width: fit-content;
}

/* font */
.po-color {
  color: var(--po);
}
.red {
  color: #f51818;
}
.po-dark {
  color: var(--po-dark);
}
.black-op8 {
  color: var(--black-op-8);
}
.bold {
  font-weight: 800;
}
h2 {
  font-size: 36px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: -1.8px;
}

/* point */
.po-light-line,
.po-dark-line {
  position: relative;
  width: fit-content;
  z-index: 1;
}
.po-light-line:before,
.po-dark-line:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 100%;
  z-index: -1;
  bottom: 0;
}
.po-light-line:before {
  background: var(--po-light);
}
.po-dark-line:before {
  background: var(--po);
}
header .po-light-line:before {
  bottom: -5px;
}
.po-light-line.forwards-ani:before {
  width: 0;
}
.po-light-line.ani:before,
.po-dark-line.ani:before {
  animation: line 1s ease-in-out forwards;
}
.po-light-line.ani.infinite:before,
.po-dark-line.ani.infinite:before {
  animation: line 1.5s ease-in-out infinite;
}
@keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* header */
header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: var(--white);
  transition: all 0.75s ease-in-out;
}
header.hide {
  transform: translateY(-100%);
}
header .banner .width-wrap {
  padding: var(--paddingHeaderBanner);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
header .banner .width-wrap img {
  width: 70px;
}

/* fixed-wrap */
#fixed-wrap {
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background: var(--white);
  box-shadow: 3px 5px 24px 0px rgba(51, 51, 51, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* footer */
footer {
  border-top: 1px solid #ddd;
}
footer .width-wrap {
  padding: var(--paddingFooter);
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 100px;
}
footer .width-wrap .left-area > img {
  width: 90px;
  margin-bottom: 10px;
}

/* responsive */
@media all and (max-width: 1320px) {
  .width-wrap {
    width: 90%;
  }
}
@media all and (max-width: 1245px) {
  .width-wrap.mid {
    width: 90%;
  }
}
@media all and (max-width: 1205px) {
  footer .width-wrap {
    gap: 50px;
  }
}
@media all and (max-width: 1175px) {
  .width-wrap.small-m {
    width: 90%;
  }
}
@media all and (max-width: 1100px) {
  footer .width-wrap {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
@media all and (max-width: 960px) {
  .width-wrap.small {
    width: 90%;
  }
}
@media all and (max-width: 815px) {
  .width-wrap.xsmall {
    width: 90%;
  }

  .top815 {
    display: none;
  }
  .under815 {
    display: block;
  }

  h2 {
    font-size: 30px;
  }
}
@media all and (max-width: 720px) {
  .under720 {
    display: block;
  }
}
@media all and (max-width: 600px) {
  .under600 {
    display: block;
  }
}
@media all and (max-width: 500px) {
  .top500 {
    display: none;
  }
  .under500 {
    display: block;
  }

  .btn.point {
    font-size: 28px;
    letter-spacing: -1.4px;
  }

  h2 {
    font-size: 24px;
    letter-spacing: -1.2px;
  }
}
