@charset "UTF-8";
html,
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: var(--background-color);
}
section {
  position: relative;
}
.width-wrap {
  position: relative;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
h2 {
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 60px;
}
.under650 {
  display: none;
}

/* footer */

footer .width-wrap {
  max-width: 750px;
  border-top: 1px solid #b2b2b2;
  margin-top: 100px;
  padding: 20px 0;
}
footer .width-wrap p,
footer .width-wrap a {
  color: #333;
  text-align: center;
}
footer .width-wrap a {
  font-size: 16px;
  display: block;
  text-decoration: underline;
  margin-top: 4px;
}

@keyframes scroll-x {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media all and (max-width: 1400px) {
  h2 {
    font-size: 24px;
  }
}

@media (max-width: 1000px) and (min-width: 650px) {
  .width-wrap {
    padding: 10px 0 0 0;
  }
}

@media all and (max-width: 650px) {
  h1 {
    line-height: 35px;
    text-align: left;
  }
  .under650 {
    display: block;
  }
  footer {
    display: none;
  }
}
