@charset "UTF-8";
html,
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: var(--background-color);
}
section {
  position: relative;
}
.width-wrap {
  position: relative;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

/* modal */
/* .modal {
  width: 570px;
  height: 96vh;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 0 91px -16px rgba(0, 0, 0, 0.58);
  padding: 15px 30px 30px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
}
.modal .btn {
  width: fit-content;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 30px;
  cursor: pointer;
}
.modal .btn div {
  width: 30px;
  height: 1px;
  background: #000;
}
.modal .btn div:nth-child(1) {
  transform: rotate(45deg);
}
.modal .btn div:nth-child(2) {
  transform: rotate(-45deg);
} */

@keyframes scroll-x {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}
