@charset "UTF-8";
/* main */
#main h1 {
  font-size: var(--font-30);
  font-weight: 700;
  color: #000;
  text-align: center;
}
#main .search-wrap {
  display: grid;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#main .search-wrap input {
  width: 100%;
  height: 57px;
  background: #f7f7f7;
  border-radius: 12px;
  margin-top: 10px;
  padding-left: 15px;
  font-size: var(--font-18);
}
#main .search-wrap input::-moz-placeholder {
  font-size: var(--font-18);
  color: #999999;
}
#main .search-wrap input::placeholder {
  font-size: var(--font-18);
  color: #999999;
}
#main .search-wrap .popular {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  overflow: hidden;
}
#main .search-wrap .popular p {
  font-size: var(--font-15);
  font-weight: 600;
  margin-left: 10px;
}
#main .search-wrap .popular div {
  width: calc(100% - 76px);
  -webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgb(255, 255, 255) 5%, rgb(255, 255, 255) 95%, rgba(255, 255, 255, 0) 100%);
          mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgb(255, 255, 255) 5%, rgb(255, 255, 255) 95%, rgba(255, 255, 255, 0) 100%);
}
#main .search-wrap .popular ul {
  display: flex;
  width: calc(100% - 76px);
  animation: scroll-x 60s linear infinite;
}
#main .search-wrap .popular ul li {
  height: 20px;
  flex-shrink: 0;
  background: #e3e3e4;
  border-radius: 18px;
  padding: 2px 13px;
  margin-right: 3px;
  font-size: 15px;
  cursor: pointer;
}
#main .search-wrap button {
  position: absolute;
  right: -30px;
  top: 30%;
  transform: translateY(-20%);
  opacity: 0.4;
}
#main .search-wrap button:hover {
  opacity: 0.6;
}
#main .periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 87px);
  grid-template-rows: repeat(9, auto);
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px 10px 0;
}
#main .periodic-table .element-item {
  padding: 7px 5px;
  background: skyblue;
  color: var(--white);
  position: relative;
  cursor: pointer;
  /* grid 배치 */
  /* 두 단으로 나누기 */
  /* border */
}
#main .periodic-table .element-item .number {
  font-size: var(--font-10);
  font-weight: 100;
}
#main .periodic-table .element-item .symbol {
  font-size: var(--font-32);
  line-height: var(--font-32);
  font-weight: 900;
  opacity: 0.95;
  margin: 2px 0;
}
#main .periodic-table .element-item .name {
  font-size: var(--font-12);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#main .periodic-table .element-item .mass {
  font-size: var(--font-10);
  font-weight: 500;
  color: #000;
}
#main .periodic-table .element-item:hover {
  filter: brightness(107%);
}
#main .periodic-table .element-item:nth-child(2) {
  grid-column: 18;
}
#main .periodic-table .element-item:nth-child(5) {
  grid-column: 13;
}
#main .periodic-table .element-item:nth-child(13) {
  grid-column: 13;
}
#main .periodic-table .element-item:nth-child(106) {
  grid-column: 1;
}
#main .periodic-table .element-item:nth-child(n+91):nth-child(-n+105) {
  margin-top: 25px;
}
#main .periodic-table .element-item:nth-child(1), #main .periodic-table .element-item:nth-child(2) {
  border-radius: 5px 5px 0 0;
}
#main .periodic-table .element-item:nth-child(4), #main .periodic-table .element-item:nth-child(105) {
  border-radius: 0 5px 0 0;
}
#main .periodic-table .element-item:nth-child(5), #main .periodic-table .element-item:nth-child(91) {
  border-radius: 5px 0 0 0;
}
#main .periodic-table .element-item:nth-child(73), #main .periodic-table .element-item:nth-child(106) {
  border-radius: 0 0 0 5px;
}
#main .periodic-table .element-item:nth-child(90), #main .periodic-table .element-item:nth-child(120) {
  border-radius: 0 0 5px 0;
}
#main .periodic-table .element-item::after, #main .periodic-table .element-item::before {
  opacity: 0.3;
  color: #000;
  font-size: 10px;
}
#main .periodic-table .element-item:nth-child(1)::before {
  content: "1";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#main .periodic-table .element-item:nth-child(4)::before {
  content: "2";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#main .periodic-table .element-item:nth-child(21)::before {
  content: "3";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#main .periodic-table .element-item:nth-child(22)::before {
  content: "4";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#main .periodic-table .element-item:nth-child(23)::before {
  content: "5";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#main .periodic-table .element-item:nth-child(24)::before {
  content: "6";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#main .periodic-table .element-item:nth-child(25)::before {
  content: "7";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#main .periodic-table .element-item:nth-child(26)::before {
  content: "8";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#main .periodic-table .element-item:nth-child(27)::before {
  content: "9";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#main .periodic-table .element-item:nth-child(28)::before {
  content: "10";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#main .periodic-table .element-item:nth-child(29)::before {
  content: "11";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#main .periodic-table .element-item:nth-child(30)::before {
  content: "12";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#main .periodic-table .element-item:nth-child(5)::before {
  content: "13";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#main .periodic-table .element-item:nth-child(6)::before {
  content: "14";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#main .periodic-table .element-item:nth-child(7)::before {
  content: "15";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#main .periodic-table .element-item:nth-child(8)::before {
  content: "16";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#main .periodic-table .element-item:nth-child(9)::before {
  content: "17";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#main .periodic-table .element-item:nth-child(2)::before {
  content: "18";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#main .periodic-table .element-item:nth-child(1)::after {
  content: "1";
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
}
#main .periodic-table .element-item:nth-child(3)::after {
  content: "2";
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
}
#main .periodic-table .element-item:nth-child(11)::after {
  content: "3";
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
}
#main .periodic-table .element-item:nth-child(19)::after {
  content: "4";
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
}
#main .periodic-table .element-item:nth-child(37)::after {
  content: "5";
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
}
#main .periodic-table .element-item:nth-child(55)::after {
  content: "6";
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
}
#main .periodic-table .element-item:nth-child(73)::after {
  content: "7";
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
}

/* info */
.info .width-wrap .element-types ul li span {
  display: inline-block;
  width: 44px;
  height: 14px;
  margin-right: 7px;
}