@import "./mixin";
@import "./variables";

/* main */
.main {
  .search-wrap {
    display: grid;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    input {
      width: 100%;
      height: 57px;
      background: var(--input-background);
      border-radius: 12px;
      padding-left: 15px;
      margin-top: 10px;
      font-size: var(--font-18);

      &::placeholder {
        font-size: var(--font-18);
        color: #999999;
      }
    }

    .popular {
      display: flex;
      gap: 15px;
      margin-top: 10px;
      overflow: hidden;

      p {
        color: var(--black);
        font-size: var(--font-15);
        font-weight: 600;
        margin-left: 10px;
      }

      div {
        width: calc(100% - 76px);
        mask-image: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0,
          rgba(255, 255, 255, 1) 5%,
          rgba(255, 255, 255, 1) 95%,
          rgba(255, 255, 255, 0) 100%
        );
      }

      ul {
        display: flex;
        width: calc(100% - 76px);
        animation: scroll-x 60s linear infinite;

        li {
          height: 20px;
          background: var(--popular-item);
          padding: 2px 13px;
          margin-right: 3px;
          border-radius: 18px;
          color: var(--black);
          font-size: var(--font-15);
          flex-shrink: 0;
          cursor: pointer;
        }
      }
    }

    button {
      position: absolute;
      top: 30%;
      right: -30px;
      transform: translateY(-20%);
      opacity: 0.4;
      &:hover {
        opacity: 0.6;
      }
    }
  }

  .selected-zone {
    width: 50%;
    @include flex(space-between, center, row);
    position: absolute;
    top: 190px;
    left: var(--selected-zone-left);

    .selected-item {
      display: inline-flex;
      gap: 15px;

      div {
        &:nth-child(1) {
          width: 110px;
          height: 128px;
          @include flex(center, stretch, column);
          gap: 7px;
          padding: 10px;
          border-radius: 5px;
          color: #ffffff;

          background: skyblue;

          .number {
            font-size: 13px;
            font-weight: 100;
          }
          .symbol {
            font-size: 56px;
            line-height: 32px;
            font-weight: 900;
            opacity: 0.95;
            margin: 2px 0;
          }

          .name {
            font-size: 13px;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 10px;
          }
          .mass {
            font-size: 12px;
            font-weight: 500;
            color: #000000;
          }
        }

        &:nth-child(2) {
          @include flex(space-evenly, stretch, column);
          font-size: 13px;
          padding: 10px 0;

          p {
            color: var(--dark-gray);
            &:not(:last-child) {
              margin-bottom: 6px;
            }
            &:nth-child(1) {
              font-size: 14px;
              color: #ff9595;
            }
            span {
              margin-left: 15px;
            }
          }
        }
      }
    }

    .switch-tools {
      display: flex;
      gap: 30px;

      div:nth-child(1) {
        display: flex;
      }
      button {
        @include flexColCenter;
        gap: 7px;
        font-size: 13px;
        color: var(--dark-gray);
        font-weight: 500;
        background: var(--tools-btn);
        width: 80px;
        height: 100px;

        &.js-colors {
          border-radius: 5px 0 0 5px;
        }
        &.js-photos {
          border-radius: 0 5px 5px 0;
        }
        &.js-heatmaps {
          width: 90px;
          border-radius: 5px;
        }
        &.active {
          background: var(--tools-active-btn);
        }
      }
    }
  }

  .periodic-table {
    display: grid;
    grid-template-columns: repeat(18, minmax(0, 87px));
    grid-template-rows: repeat(9, auto);
    padding: 10px 10px 0;
    margin: 0 auto;
    margin-top: 40px;

    .element-item {
      padding: 7px 5px;
      color: #ffffff;
      position: relative;
      cursor: pointer;

      .number {
        font-size: var(--font-10);
        font-weight: 100;
      }
      .symbol {
        font-size: var(--font-32);
        line-height: 32px;
        font-weight: 900;
        opacity: 0.95;
        margin: 2px 0;
      }
      .name {
        font-size: var(--font-12);
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .mass {
        font-size: var(--font-10);
        font-weight: 500;
        color: #000000;
        margin: 2px 0;
      }

      &:hover {
        filter: brightness(107%);
      }

      /* grid 배치 */
      &:nth-child(2) {
        grid-column: 18;
      }
      &:nth-child(5),
      &:nth-child(13) {
        grid-column: 13;
      }
      &:nth-child(106) {
        grid-column: 1;
      }

      /* 두 단으로 나누기 */
      &:nth-child(n + 91):nth-child(-n + 105) {
        margin-top: 25px;
      }

      /* border */
      &:nth-child(1),
      &:nth-child(2) {
        border-radius: 5px 5px 0 0;
      }

      &:nth-child(4),
      &:nth-child(105) {
        border-radius: 0 5px 0 0;
      }

      &:nth-child(5),
      &:nth-child(91) {
        border-radius: 5px 0 0 0;
      }

      &:nth-child(73),
      &:nth-child(106) {
        border-radius: 0 0 0 5px;
      }
      &:nth-child(90),
      &:nth-child(120) {
        border-radius: 0 0 5px 0;
      }

      &::after,
      &::before {
        opacity: 0.3;
        color: var(--black);
        font-size: 10px;
      }
      @for $i from 1 through length($columnList) {
        &:nth-child(#{nth($columnList, $i)})::before {
          content: "#{$i}";
          position: absolute;
          top: -18px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      @for $i from 1 through length($rowList) {
        &:nth-child(#{nth($rowList, $i)})::after {
          content: "#{$i}";
          position: absolute;
          top: 50%;
          left: -18px;
          transform: translateY(-50%);
        }
      }
    }
  }
}

/* info */
.info {
  .width-wrap {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    padding: 10px 20px;

    .element-type {
      ul {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px 0px;
        li {
          span {
            width: 44px;
            height: 14px;
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
    }

    .mobile-app {
      p {
        color: var(--dark-gray);
        font-size: var(--font-16);
        line-height: 22px;
        margin-bottom: 28px;
      }
      a {
        height: fit-content;
        display: inline-block;
        background: #000000;
        border-radius: 8px;
        font-size: var(--font-16);
      }
    }
    .element-glossary {
      grid-column: 1 / -1;
      ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 15px 0;
      }
    }
  }
}

/* responsive */
@media all and (max-width: 1400px) {
  .info {
    .width-wrap {
      grid-template-columns: 1fr 0.6fr;
      .element-type {
        ul {
          width: 85%;
        }
      }
    }
  }
}

@media all and (max-width: 1160px) {
  .main {
    .selected-zone {
      .selected-item {
        div {
          &:nth-child(1) {
            width: 90px;
            height: 108px;
            gap: 5px;

            .symbol {
              font-size: 40px;
            }
            .name {
              margin-top: 0;
            }
            .mass {
              font-size: 10px;
            }
          }

          &:nth-child(2) {
            font-size: 12px;

            p {
              &:nth-child(1) {
                font-size: 10px;
              }
              &:not(:last-child) {
                margin-bottom: 0px;
              }
            }
          }
        }
      }

      .switch-tools {
        gap: 20px;
        button {
          width: 70px;
          height: 90px;
        }
      }
    }
  }

  .info {
    .width-wrap {
      .mobile-app {
        p {
          margin-bottom: 20px;
        }
        img {
          width: 130px;
          height: 40px;
        }
      }
    }
  }
}
@media (max-width: 1000px) and (min-width: 650px) {
  .main {
    .search-wrap {
      width: 65%;
      input {
        height: 45px;
      }
      .popular {
        ul {
          li {
            height: 17px;
          }
        }
      }
    }
    .selected-zone {
      align-items: flex-start;
      top: 150px;
      width: 52%;

      .selected-item {
        gap: 5px;
        div {
          &:nth-child(1) {
            width: 60px;
            height: 70px;
            gap: 3px;
            .number {
              font-size: 8px;
            }
            .symbol {
              line-height: 11px;
              font-size: 28px;
            }
            .name {
              font-size: 8px;
              margin-top: 3px;
            }
            .mass {
              font-size: 7px;
            }
          }

          &:nth-child(2) {
            font-size: 9px;
            padding: 0;

            p {
              &:nth-child(1) {
                font-size: 8px;
              }
            }
          }
        }
      }

      .switch-tools {
        button {
          width: 55px;
          height: 75px;

          &.js-heatmaps {
            width: 80px;
          }
          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
    .periodic-table {
      .element-item {
        padding: 0 5px;
        .mass {
          font-size: 7px;
        }

        /* border */
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(105),
        &:nth-child(5),
        &:nth-child(91),
        &:nth-child(73),
        &:nth-child(106),
        &:nth-child(90),
        &:nth-child(120) {
          border-radius: 0;
        }

        &::after,
        &::before {
          font-size: 8px;
        }
        @for $i from 1 through length($columnList) {
          &:nth-child(#{nth($columnList, $i)})::before {
            top: -10px;
          }
        }
        @for $i from 1 through length($rowList) {
          &:nth-child(#{nth($rowList, $i)})::after {
            left: -10px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 960px) {
  .info {
    .width-wrap {
      grid-template-columns: 1fr;
    }
  }
}
@media all and (max-width: 650px) {
  .main {
    .search-wrap {
      width: 90%;
      left: 47%;
    }

    .selected-zone {
      display: none;
    }
    .periodic-table {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(33, 102px);
      gap: 5px;
      padding: 0;
      margin-top: 150px;
      margin-bottom: 630px;
      .element-item {
        height: 102px;
        border-radius: 5px;

        .mass {
          font-size: 12px;
          margin: 6px 0;
        }

        @for $i from 1 through length($columnList) {
          &:nth-child(#{nth($columnList, $i)})::before {
            display: none;
          }
        }
        @for $i from 1 through length($rowList) {
          &:nth-child(#{nth($rowList, $i)})::after {
            display: none;
          }
        }
        &:nth-child(n + 91):nth-child(-n + 105) {
          margin-top: 0;
        }

        @each $key, $value in $contentData {
          &:nth-child(#{$key}) {
            &::before {
              content: "#{$value}";
              display: block;
              width: 100%;
              height: 100%;
              font-size: var(--font-24);
              font-weight: 800;
              opacity: 1;

              @if $key == 1 {
                margin-top: -20px;
              } @else {
                margin-top: -40px;
                position: absolute;
              }
            }
          }
        }

        &:nth-child(n + 3) {
          margin-top: 65px;
        }
        &:nth-child(n + 11) {
          margin-top: 130px;
        }
        &:nth-child(n + 19) {
          margin-top: 195px;
        }
        &:nth-child(n + 37) {
          margin-top: 260px;
        }
        &:nth-child(n + 55) {
          margin-top: 325px;
        }
        &:nth-child(n + 73) {
          margin-top: 390px;
        }
        &:nth-child(n + 91):nth-child(-n + 105),
        &:nth-child(n + 91) {
          margin-top: 455px;
        }
        &:nth-child(n + 106) {
          margin-top: 520px;
        }

        &:nth-child(2) {
          grid-column: 2;
        }
        &:nth-child(5) {
          grid-column: 3;
        }
        &:nth-child(13) {
          grid-column: auto;
        }
        &:nth-child(3),
        &:nth-child(7),
        &:nth-child(11),
        &:nth-child(37),
        &:nth-child(55),
        &:nth-child(73),
        &:nth-child(91) {
          grid-column: 1;
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(105),
        &:nth-child(5),
        &:nth-child(91),
        &:nth-child(73),
        &:nth-child(106),
        &:nth-child(90),
        &:nth-child(120) {
          border-radius: 5px;
        }
      }
    }
  }

  .info {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .info {
    .width-wrap {
      .mobile-app {
        a {
          border: 1px solid #fff;
        }
      }
    }
  }
}
