@charset "UTF-8";
/* main */
.main {
  z-index: 1;
}
.main .search-wrap {
  display: grid;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.main .search-wrap input {
  width: 100%;
  height: 57px;
  background: var(--input-background);
  border-radius: 12px;
  padding-left: 15px;
  font-size: var(--font-18);
  color: var(--black);
}
.main .search-wrap input::-moz-placeholder {
  font-size: var(--font-18);
  color: var(--input-placeholder);
}
.main .search-wrap input::placeholder {
  font-size: var(--font-18);
  color: var(--input-placeholder);
}
.main .search-wrap .popular {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  overflow: hidden;
}
.main .search-wrap .popular p {
  color: var(--black);
  font-size: var(--font-15);
  font-weight: 600;
  margin-left: 10px;
}
.main .search-wrap .popular div {
  width: calc(100% - 76px);
  -webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgb(255, 255, 255) 5%, rgb(255, 255, 255) 95%, rgba(255, 255, 255, 0) 100%);
          mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgb(255, 255, 255) 5%, rgb(255, 255, 255) 95%, rgba(255, 255, 255, 0) 100%);
}
.main .search-wrap .popular ul {
  display: flex;
  width: calc(100% - 76px);
  animation: scroll-x 60s linear infinite;
}
.main .search-wrap .popular ul:hover {
  animation-play-state: paused;
}
.main .search-wrap .popular ul li {
  height: 20px;
  background: var(--popular-item);
  padding: 2px 13px;
  margin-right: 3px;
  border-radius: 18px;
  color: var(--black);
  font-size: var(--font-15);
  font-weight: 300;
  flex-shrink: 0;
  cursor: pointer;
}
.main .search-wrap button {
  position: absolute;
  top: 30%;
  right: -30px;
  transform: translateY(-20%);
  opacity: 0.4;
}
.main .search-wrap button:hover {
  opacity: 0.6;
}
.main .search-wrap button img {
  filter: var(--invert-value);
}
.main .selected-zone {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 140px;
  left: var(--selected-zone-left);
}
.main .selected-zone .selected-item {
  display: inline-flex;
  gap: 15px;
}
.main .selected-zone .selected-item div:nth-child(1) {
  width: 110px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 7px;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  background: #a7d04a;
}
.main .selected-zone .selected-item div:nth-child(1) .number {
  font-size: 13px;
  font-weight: 100;
}
.main .selected-zone .selected-item div:nth-child(1) .symbol {
  font-size: 56px;
  line-height: 32px;
  font-weight: 900;
  opacity: 0.95;
  margin: 2px 0;
}
.main .selected-zone .selected-item div:nth-child(1) .name {
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}
.main .selected-zone .selected-item div:nth-child(1) .mass {
  font-size: 12px;
  font-weight: 500;
  color: #000000;
}
.main .selected-zone .selected-item div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: column;
  font-size: 13px;
  padding: 10px 0;
}
.main .selected-zone .selected-item div:nth-child(2) p {
  color: var(--dark-gray);
}
.main .selected-zone .selected-item div:nth-child(2) p:not(:last-child) {
  margin-bottom: 6px;
}
.main .selected-zone .selected-item div:nth-child(2) p:nth-child(1) {
  font-size: 14px;
  color: #ff9595;
}
.main .selected-zone .selected-item div:nth-child(2) p span {
  margin-left: 15px;
}
.main .selected-zone .switch-tools {
  display: flex;
  gap: 30px;
}
.main .selected-zone .switch-tools div:nth-child(1) {
  display: flex;
}
.main .selected-zone .switch-tools button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 13px;
  color: var(--dark-gray);
  font-weight: 500;
  background: var(--tools-btn);
  width: 80px;
  height: 100px;
}
.main .selected-zone .switch-tools button.js-colors {
  border-radius: 5px 0 0 5px;
}
.main .selected-zone .switch-tools button.js-photos {
  border-radius: 0 5px 5px 0;
}
.main .selected-zone .switch-tools button.js-heatmaps {
  width: 90px;
  border-radius: 5px;
}
.main .selected-zone .switch-tools button.active {
  background: var(--tools-active-btn);
}
.main .periodic-table {
  display: grid;
  grid-template-columns: repeat(18, minmax(0, 87px));
  grid-template-rows: repeat(9, auto);
  padding: 10px 10px 0;
  margin: 0 auto;
  margin-top: 25px;
}
.main .periodic-table .element-item {
  padding: 7px 5px;
  color: #ffffff;
  position: relative;
  cursor: pointer;
  filter: brightness(100%);
  transition: filter 0.1s linear;
  /* grid 배치 */
  /* 두 단으로 나누기 */
  /* border */
}
.main .periodic-table .element-item .number {
  font-size: var(--font-10);
  font-weight: 100;
}
.main .periodic-table .element-item .symbol {
  font-size: var(--font-32);
  line-height: 32px;
  font-weight: 900;
  opacity: 0.95;
  margin: 2px 0;
}
.main .periodic-table .element-item .name {
  font-size: var(--font-12);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .periodic-table .element-item .mass {
  font-size: var(--font-10);
  font-weight: 500;
  color: #000000;
  margin: 2px 0;
}
.main .periodic-table .element-item:hover {
  filter: brightness(107%);
  transition: filter 0.1s ease-out;
}
.main .periodic-table .element-item:nth-child(2) {
  grid-column: 18;
}
.main .periodic-table .element-item:nth-child(5), .main .periodic-table .element-item:nth-child(13) {
  grid-column: 13;
}
.main .periodic-table .element-item:nth-child(106) {
  grid-column: 1;
}
.main .periodic-table .element-item:nth-child(n+91):nth-child(-n+105) {
  margin-top: 25px;
}
.main .periodic-table .element-item:nth-child(1), .main .periodic-table .element-item:nth-child(2) {
  border-radius: 5px 5px 0 0;
}
.main .periodic-table .element-item:nth-child(4), .main .periodic-table .element-item:nth-child(105) {
  border-radius: 0 5px 0 0;
}
.main .periodic-table .element-item:nth-child(5), .main .periodic-table .element-item:nth-child(91) {
  border-radius: 5px 0 0 0;
}
.main .periodic-table .element-item:nth-child(73), .main .periodic-table .element-item:nth-child(106) {
  border-radius: 0 0 0 5px;
}
.main .periodic-table .element-item:nth-child(90), .main .periodic-table .element-item:nth-child(120) {
  border-radius: 0 0 5px 0;
}
.main .periodic-table .element-item::after, .main .periodic-table .element-item::before {
  opacity: 0.3;
  color: var(--black);
  font-size: 10px;
}
.main .periodic-table .element-item:nth-child(1)::before {
  content: "1";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.main .periodic-table .element-item:nth-child(4)::before {
  content: "2";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.main .periodic-table .element-item:nth-child(21)::before {
  content: "3";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.main .periodic-table .element-item:nth-child(22)::before {
  content: "4";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.main .periodic-table .element-item:nth-child(23)::before {
  content: "5";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.main .periodic-table .element-item:nth-child(24)::before {
  content: "6";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.main .periodic-table .element-item:nth-child(25)::before {
  content: "7";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.main .periodic-table .element-item:nth-child(26)::before {
  content: "8";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.main .periodic-table .element-item:nth-child(27)::before {
  content: "9";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.main .periodic-table .element-item:nth-child(28)::before {
  content: "10";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.main .periodic-table .element-item:nth-child(29)::before {
  content: "11";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.main .periodic-table .element-item:nth-child(30)::before {
  content: "12";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.main .periodic-table .element-item:nth-child(5)::before {
  content: "13";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.main .periodic-table .element-item:nth-child(6)::before {
  content: "14";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.main .periodic-table .element-item:nth-child(7)::before {
  content: "15";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.main .periodic-table .element-item:nth-child(8)::before {
  content: "16";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.main .periodic-table .element-item:nth-child(9)::before {
  content: "17";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.main .periodic-table .element-item:nth-child(2)::before {
  content: "18";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.main .periodic-table .element-item:nth-child(1)::after {
  content: "1";
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
}
.main .periodic-table .element-item:nth-child(3)::after {
  content: "2";
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
}
.main .periodic-table .element-item:nth-child(11)::after {
  content: "3";
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
}
.main .periodic-table .element-item:nth-child(19)::after {
  content: "4";
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
}
.main .periodic-table .element-item:nth-child(37)::after {
  content: "5";
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
}
.main .periodic-table .element-item:nth-child(55)::after {
  content: "6";
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
}
.main .periodic-table .element-item:nth-child(73)::after {
  content: "7";
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
}

/* info */
.info .width-wrap {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  padding: 10px 20px;
}
.info .width-wrap .element-type ul {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px 0px;
}
.info .width-wrap .element-type ul li span {
  width: 44px;
  height: 14px;
  display: inline-block;
  margin-right: 10px;
}
.info .width-wrap .mobile-app p {
  color: var(--dark-gray);
  font-size: var(--font-16);
  line-height: 22px;
  margin-bottom: 28px;
}
.info .width-wrap .mobile-app a {
  height: -moz-fit-content;
  height: fit-content;
  display: inline-block;
  background: #000000;
  border-radius: 8px;
  font-size: var(--font-16);
}
.info .width-wrap .element-glossary {
  grid-column: 1/-1;
}
.info .width-wrap .element-glossary ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px 0;
}

/* responsive */
@media all and (max-width: 1400px) {
  .info .width-wrap {
    grid-template-columns: 1fr 0.6fr;
  }
  .info .width-wrap .element-type ul {
    width: 85%;
  }
}
@media all and (max-width: 1160px) {
  .main .selected-zone .selected-item div:nth-child(1) {
    width: 90px;
    height: 108px;
    gap: 5px;
  }
  .main .selected-zone .selected-item div:nth-child(1) .symbol {
    font-size: 40px;
  }
  .main .selected-zone .selected-item div:nth-child(1) .name {
    margin-top: 0;
  }
  .main .selected-zone .selected-item div:nth-child(1) .mass {
    font-size: 10px;
  }
  .main .selected-zone .selected-item div:nth-child(2) {
    font-size: 12px;
  }
  .main .selected-zone .selected-item div:nth-child(2) p:nth-child(1) {
    font-size: 10px;
  }
  .main .selected-zone .selected-item div:nth-child(2) p:not(:last-child) {
    margin-bottom: 0px;
  }
  .main .selected-zone .switch-tools {
    gap: 20px;
  }
  .main .selected-zone .switch-tools button {
    width: 70px;
    height: 90px;
  }
  .info .width-wrap .mobile-app p {
    margin-bottom: 20px;
  }
  .info .width-wrap .mobile-app img {
    width: 130px;
    height: 40px;
  }
}
@media (max-width: 1000px) and (min-width: 650px) {
  .main .search-wrap {
    width: 65%;
  }
  .main .search-wrap input {
    height: 45px;
  }
  .main .search-wrap .popular ul li {
    height: 17px;
  }
  .main .selected-zone {
    align-items: flex-start;
    top: 110px;
    width: 52%;
  }
  .main .selected-zone .selected-item {
    gap: 5px;
  }
  .main .selected-zone .selected-item div:nth-child(1) {
    width: 60px;
    height: 70px;
    gap: 3px;
  }
  .main .selected-zone .selected-item div:nth-child(1) .number {
    font-size: 8px;
  }
  .main .selected-zone .selected-item div:nth-child(1) .symbol {
    line-height: 11px;
    font-size: 28px;
  }
  .main .selected-zone .selected-item div:nth-child(1) .name {
    font-size: 8px;
    margin-top: 3px;
  }
  .main .selected-zone .selected-item div:nth-child(1) .mass {
    font-size: 7px;
  }
  .main .selected-zone .selected-item div:nth-child(2) {
    font-size: 9px;
    padding: 0;
  }
  .main .selected-zone .selected-item div:nth-child(2) p:nth-child(1) {
    font-size: 8px;
  }
  .main .selected-zone .switch-tools button {
    width: 55px;
    height: 75px;
  }
  .main .selected-zone .switch-tools button.js-heatmaps {
    width: 80px;
  }
  .main .selected-zone .switch-tools button img {
    width: 25px;
    height: 25px;
  }
  .main .periodic-table .element-item {
    padding: 0 5px;
    /* border */
  }
  .main .periodic-table .element-item .symbol {
    margin: -6px 0;
  }
  .main .periodic-table .element-item .mass {
    font-size: 7px;
  }
  .main .periodic-table .element-item:nth-child(1), .main .periodic-table .element-item:nth-child(2), .main .periodic-table .element-item:nth-child(4), .main .periodic-table .element-item:nth-child(105), .main .periodic-table .element-item:nth-child(5), .main .periodic-table .element-item:nth-child(91), .main .periodic-table .element-item:nth-child(73), .main .periodic-table .element-item:nth-child(106), .main .periodic-table .element-item:nth-child(90), .main .periodic-table .element-item:nth-child(120) {
    border-radius: 0;
  }
  .main .periodic-table .element-item::after, .main .periodic-table .element-item::before {
    font-size: 8px;
  }
  .main .periodic-table .element-item:nth-child(1)::before {
    top: -10px;
  }
  .main .periodic-table .element-item:nth-child(4)::before {
    top: -10px;
  }
  .main .periodic-table .element-item:nth-child(21)::before {
    top: -10px;
  }
  .main .periodic-table .element-item:nth-child(22)::before {
    top: -10px;
  }
  .main .periodic-table .element-item:nth-child(23)::before {
    top: -10px;
  }
  .main .periodic-table .element-item:nth-child(24)::before {
    top: -10px;
  }
  .main .periodic-table .element-item:nth-child(25)::before {
    top: -10px;
  }
  .main .periodic-table .element-item:nth-child(26)::before {
    top: -10px;
  }
  .main .periodic-table .element-item:nth-child(27)::before {
    top: -10px;
  }
  .main .periodic-table .element-item:nth-child(28)::before {
    top: -10px;
  }
  .main .periodic-table .element-item:nth-child(29)::before {
    top: -10px;
  }
  .main .periodic-table .element-item:nth-child(30)::before {
    top: -10px;
  }
  .main .periodic-table .element-item:nth-child(5)::before {
    top: -10px;
  }
  .main .periodic-table .element-item:nth-child(6)::before {
    top: -10px;
  }
  .main .periodic-table .element-item:nth-child(7)::before {
    top: -10px;
  }
  .main .periodic-table .element-item:nth-child(8)::before {
    top: -10px;
  }
  .main .periodic-table .element-item:nth-child(9)::before {
    top: -10px;
  }
  .main .periodic-table .element-item:nth-child(2)::before {
    top: -10px;
  }
  .main .periodic-table .element-item:nth-child(1)::after {
    left: -10px;
  }
  .main .periodic-table .element-item:nth-child(3)::after {
    left: -10px;
  }
  .main .periodic-table .element-item:nth-child(11)::after {
    left: -10px;
  }
  .main .periodic-table .element-item:nth-child(19)::after {
    left: -10px;
  }
  .main .periodic-table .element-item:nth-child(37)::after {
    left: -10px;
  }
  .main .periodic-table .element-item:nth-child(55)::after {
    left: -10px;
  }
  .main .periodic-table .element-item:nth-child(73)::after {
    left: -10px;
  }
}
@media all and (max-width: 960px) {
  .info .width-wrap {
    grid-template-columns: 1fr;
  }
}
@media all and (max-width: 650px) {
  .main .search-wrap {
    width: 90%;
    left: 47%;
  }
  .main .selected-zone {
    display: none;
  }
  .main .periodic-table {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(33, 102px);
    gap: 5px;
    padding: 0;
    margin-top: 150px;
    margin-bottom: 630px;
  }
  .main .periodic-table .element-item {
    height: 102px;
    border-radius: 5px;
  }
  .main .periodic-table .element-item .mass {
    font-size: 12px;
    margin: 6px 0;
  }
  .main .periodic-table .element-item:nth-child(1)::before {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(4)::before {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(21)::before {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(22)::before {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(23)::before {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(24)::before {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(25)::before {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(26)::before {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(27)::before {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(28)::before {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(29)::before {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(30)::before {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(5)::before {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(6)::before {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(7)::before {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(8)::before {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(9)::before {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(2)::before {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(1)::after {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(3)::after {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(11)::after {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(19)::after {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(37)::after {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(55)::after {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(73)::after {
    display: none;
  }
  .main .periodic-table .element-item:nth-child(n+91):nth-child(-n+105) {
    margin-top: 0;
  }
  .main .periodic-table .element-item:nth-child(1)::before {
    content: "Period 1";
    display: block;
    width: 100%;
    height: 100%;
    font-size: var(--font-24);
    font-weight: 800;
    opacity: 1;
    margin-top: -20px;
  }
  .main .periodic-table .element-item:nth-child(3)::before {
    content: "Period 2";
    display: block;
    width: 100%;
    height: 100%;
    font-size: var(--font-24);
    font-weight: 800;
    opacity: 1;
    margin-top: -40px;
    position: absolute;
  }
  .main .periodic-table .element-item:nth-child(11)::before {
    content: "Period 3";
    display: block;
    width: 100%;
    height: 100%;
    font-size: var(--font-24);
    font-weight: 800;
    opacity: 1;
    margin-top: -40px;
    position: absolute;
  }
  .main .periodic-table .element-item:nth-child(19)::before {
    content: "Period 4";
    display: block;
    width: 100%;
    height: 100%;
    font-size: var(--font-24);
    font-weight: 800;
    opacity: 1;
    margin-top: -40px;
    position: absolute;
  }
  .main .periodic-table .element-item:nth-child(37)::before {
    content: "Period 5";
    display: block;
    width: 100%;
    height: 100%;
    font-size: var(--font-24);
    font-weight: 800;
    opacity: 1;
    margin-top: -40px;
    position: absolute;
  }
  .main .periodic-table .element-item:nth-child(55)::before {
    content: "Period 6";
    display: block;
    width: 100%;
    height: 100%;
    font-size: var(--font-24);
    font-weight: 800;
    opacity: 1;
    margin-top: -40px;
    position: absolute;
  }
  .main .periodic-table .element-item:nth-child(73)::before {
    content: "Period 7";
    display: block;
    width: 100%;
    height: 100%;
    font-size: var(--font-24);
    font-weight: 800;
    opacity: 1;
    margin-top: -40px;
    position: absolute;
  }
  .main .periodic-table .element-item:nth-child(91)::before {
    content: "Lanthanoids";
    display: block;
    width: 100%;
    height: 100%;
    font-size: var(--font-24);
    font-weight: 800;
    opacity: 1;
    margin-top: -40px;
    position: absolute;
  }
  .main .periodic-table .element-item:nth-child(106)::before {
    content: "Actinoids";
    display: block;
    width: 100%;
    height: 100%;
    font-size: var(--font-24);
    font-weight: 800;
    opacity: 1;
    margin-top: -40px;
    position: absolute;
  }
  .main .periodic-table .element-item:nth-child(n+3) {
    margin-top: 65px;
  }
  .main .periodic-table .element-item:nth-child(n+11) {
    margin-top: 130px;
  }
  .main .periodic-table .element-item:nth-child(n+19) {
    margin-top: 195px;
  }
  .main .periodic-table .element-item:nth-child(n+37) {
    margin-top: 260px;
  }
  .main .periodic-table .element-item:nth-child(n+55) {
    margin-top: 325px;
  }
  .main .periodic-table .element-item:nth-child(n+73) {
    margin-top: 390px;
  }
  .main .periodic-table .element-item:nth-child(n+91):nth-child(-n+105), .main .periodic-table .element-item:nth-child(n+91) {
    margin-top: 455px;
  }
  .main .periodic-table .element-item:nth-child(n+106) {
    margin-top: 520px;
  }
  .main .periodic-table .element-item:nth-child(2) {
    grid-column: 2;
  }
  .main .periodic-table .element-item:nth-child(5) {
    grid-column: 3;
  }
  .main .periodic-table .element-item:nth-child(13) {
    grid-column: auto;
  }
  .main .periodic-table .element-item:nth-child(3), .main .periodic-table .element-item:nth-child(7), .main .periodic-table .element-item:nth-child(11), .main .periodic-table .element-item:nth-child(37), .main .periodic-table .element-item:nth-child(55), .main .periodic-table .element-item:nth-child(73), .main .periodic-table .element-item:nth-child(91) {
    grid-column: 1;
  }
  .main .periodic-table .element-item:nth-child(1), .main .periodic-table .element-item:nth-child(2), .main .periodic-table .element-item:nth-child(4), .main .periodic-table .element-item:nth-child(105), .main .periodic-table .element-item:nth-child(5), .main .periodic-table .element-item:nth-child(91), .main .periodic-table .element-item:nth-child(73), .main .periodic-table .element-item:nth-child(106), .main .periodic-table .element-item:nth-child(90), .main .periodic-table .element-item:nth-child(120) {
    border-radius: 5px;
  }
  .info {
    display: none;
  }
}
@media (prefers-color-scheme: dark) {
  .info .width-wrap .mobile-app a {
    border: 1px solid #fff;
  }
}