@import "./mixin";
@import "./variables";

/* help-modal */
.help-modal {
  color: var(--black);
  position: fixed;
  z-index: 999999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: transform 0.5s ease;
  .width-wrap {
    background-color: var(--help-background);
  }

  img {
    filter: var(--invert-value);
    &:not(:first-child) {
      width: 100%;
      margin: 20px 0;
    }
  }

  section {
    &:not(:nth-of-type(1)) {
      margin-top: 40px;
    }
    &:last-child {
      img:last-child {
        margin-bottom: 45px;
      }
    }
  }

  h3 {
    font-size: var(--font-18);
    font-weight: 700;
  }

  p {
    line-height: 1.7;
    font-size: var(--font-15);
    opacity: 0.9;
    margin: 15px 0;
  }
}

/* element-modal */
.element-modal {
  color: #000000;
  position: fixed;
  z-index: 999999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease;

  .modal-header {
    .mode-switch {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 24px;
      transform: translateX(-50%);
      width: 160px;
      font-size: 0;

      button {
        width: 48%;
        padding: 3px 0;
        background: rgba(255, 255, 255, 0.75);
        &:nth-child(1) {
          border-radius: 50px 0 0 50px;
        }
        &:nth-child(2) {
          border-radius: 0 50px 50px 0;
        }
        &.active {
          background: #ffffff;
        }
      }
    }
    img {
      position: absolute;
      right: 24px;
      top: 24px;
      filter: invert(1);
    }
  }

  .width-wrap {
    background-color: var(--help-background);

    h2 {
      margin-top: 0;
      margin-left: -20px;
      padding: 0;
      font-size: 240px;
      font-weight: 900;
      color: #ffffff;
      margin-top: -30px;
      margin-bottom: 0;
    }

    h3 {
      font-size: 52px;
    }

    section {
      padding: 0 50px;
      margin-top: 50px;
      &:nth-of-type(1) {
        color: #ffffff;

        .number {
          font-size: 28px;
        }
        .mass {
          font-size: 28px;
          color: #000000;
          margin: 10px 0px;
        }
        .desc-box {
          width: 90%;
          max-height: 65px;
          height: auto;
          overflow: hidden;
          mask-image: linear-gradient(
            180deg,
            rgba(255, 255, 255, 1) 0,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 0) 100%
          );

          .desc {
            color: #000000;
            font-size: 14px;
            line-height: 1.5;
            font-weight: 300;
          }
        }

        .moreBtn {
          background: #ffffff;
          padding: 3px 9px;
          border-radius: 5px;
          font-size: var(--font-12);
          margin-top: 5px;

          &:hover {
            box-shadow: 0 10px 22px -4px rgba(0, 0, 0, 0.38);
          }
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .element-modal {
    .width-wrap {
      h2 {
        font-size: 160px;
      }
    }
  }
}

@media all and (max-width: 650px) {
  .help-modal,
  .element-modal {
    top: 10%;
    left: 0;
    border-radius: 40px 40px 0 0;
    transform: translate(0, 100%);
  }
}
